// Body
$body-bg: #f9f9f9;

// Typography
$font-family-sans-serif: 'Grotesque';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Attr
$smooth: all .2s;

// Colorize
$ultrared: #fb6f92;
$cherryblossom: #ff8fab;
$sakura: #ffb3c6;
$piggy: #ffc2d1;
$lightpink: #ffe5ec;

$accent: rgb(231, 206, 43);
$gradient: linear-gradient(to top left, $lightpink 20%, $piggy 20%, $piggy 40%, $sakura 40%, $sakura 60%, $cherryblossom 60%, $cherryblossom 80%, $ultrared 80%, $ultrared 100%);

